//Bu Sass Dosyası Emrah KAHRAMAN tarafından kodlanmıştır.

//Variable
@import "variables/_reset";
@import "variables/_variable";

* {
  box-sizing: border-box;
}

body {
  background-color: $base_color;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  font-size: $large_size;
  font-family: $one_family, $two_family;
  color: $primary_color;
}

//Top_Header#
#top_header {
  width: 100%;
  background-color: $base_color;
  padding: 15px 0;
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.35);

  //top_header
  .top_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    //&_left
    &_left {
      display: flex;
      li {
        margin-right: 15px;
        &:last-child {
          margin-right: 0;
        }
        a {
          color: $primary_color;
          font-size: $regular_size;
        }
      }
    }
    //&_right
    &_right {
      display: flex;
      &_item {
        display: flex;
        margin-right: 35px;
        &:last-child {
          margin-right: 0;
        }
        .icon {
          font-size: $regular_size;
          color: $three_color;
        }
        .text {
          padding-left: 9px;
          h6,
          a {
            display: inline-block;
            font-size: $regular_size;
            line-height: normal;
            @include weight(400);
            color: $three_color;
          }
        }
      }
    }
  }
}

//Header#
#header {
  width: 100%;

  //header
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 160px;
    position: relative;

    //&_logo
    &_logo {
      position: relative;
      z-index: 3;
    }

    //&_menu
    &_menu {
      > li {
        display: inline-block;
        position: relative;
        margin-right: 25px;
        &:last-child {
          margin-right: 0;
        }
        > a {
          color: $primary_color;
          font-weight: 600;
          font-size: $large_size;
          text-transform: capitalize;
          position: relative;
          &::before {
            position: absolute;
            width: 0;
            margin: -4px 0;
            transition: 0.4ms all ease-in-out;
            content: "";
            background-color: $two_color;
            height: 4px;
            border-radius: 2px;
            left: 0;
            bottom: 0;
          }
          &:hover {
            color: $two_color;
            &::before {
              width: 100%;
            }
          }
          &:not(:only-child):after {
            padding-left: 1px;
            content: "▾";
          }
        }
        //dropdown
        .dropdown {
          width: 200px;
          position: absolute;
          top: 34px;
          left: 0;
          z-index: 2;
          padding: 15px 0 15px 10px;
          background-color: $three_color;
          opacity: 0;
          visibility: hidden;
          transition: 0.4ms all ease-in-out;
          li {
            display: block;
            padding-bottom: 15px;
            &:last-child {
              padding-bottom: 0;
            }
            a {
              color: $base_color;
              font-weight: 600;
              font-size: $regular_size;
              text-transform: uppercase;
              position: relative;
              &::before {
                position: absolute;
                width: 0;
                margin: -3px 0;
                transition: 0.4ms all ease-in-out;
                content: "";
                background-color: $two_color;
                height: 3px;
                border-radius: 2px;
                left: 0;
                bottom: 0;
              }
              &:hover {
                color: $two_color;
                &::before {
                  width: 100%;
                }
              }
            }
          }
        }
        &:hover {
          .dropdown {
            opacity: 1;
            visibility: visible;
          }
        }
        .active {
          position: relative;
          &::before {
            position: absolute;
            width: 0;
            margin: -5px 0;
            transition: 0.4ms all ease-in-out;
            content: "";
            background-color: $two_color;
            height: 4px;
            border-radius: 2px;
            left: 0;
            bottom: 0;
          }
        }
        .active,
        a.active {
          &::before {
            width: 100%;
          }
        }
      }
    }

    //&_hamburger
    &_hamburger {
      display: none;
      position: fixed;
      top: 37px;
      right: 15px;
      cursor: pointer;
      z-index: 999;
      .bar {
        display: block;
        width: 35px;
        height: 3px;
        margin: 5px auto;
        transition: 0.3s all ease-in-out;
        background-color: $two_color;
      }
    }

    //Notebook
    @include notebook {
      //&_menu
      &_menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: $base_color;
        z-index: 2;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        transform: scale(0);
        opacity: 0;
        transition: opacity 650ms;
        li {
          display: block;
          margin-right: 0;
          padding-bottom: 30px;
          &:last-child {
            padding-bottom: 0;
          }
          a {
            font-size: $large_size;
            font-weight: bold;
            color: $three_color;
            &::before {
              background-color: $two_color;
            }
          }
          //dropdown
          .dropdown {
            width: 100%;
            top: 30px;
            padding: 15px 0;
            li {
              padding-bottom: 12px;
              &:last-child {
                padding-bottom: 0;
              }
              a {
                font-size: 12px;
                line-height: normal;
              }
            }
          }
        }
      }
      &_menu.open {
        opacity: 1;
        transform: scale(1);
      }

      //&_hamburger
      &_hamburger {
        display: block;
        &.active .bar {
          &:nth-child(2) {
            opacity: 0;
          }
          &:nth-child(1) {
            -webkit-transform: translateY(8px) rotate(45deg);
            transform: translateY(8px) rotate(45deg);
          }
          &:nth-child(3) {
            -webkit-transform: translateY(-8px) rotate(-45deg);
            transform: translateY(-8px) rotate(-45deg);
          }
        }
      }
    }
  }
}

//Home_Slider#
#home_slider {
}

//İnfo#
#info {
}

//Footer#
#footer {
}

///// About /////

///// Services /////

///// ServicesDetail /////

///// Portfolios /////

///// PortfoliosDetail /////

///// Blog /////

///// BlogDetail /////

///// Pricings /////

///// Faqs /////

///// Contact /////
