//Bu Sass Dosyası Emrah KAHRAMAN tarafından kodlanmıştır.

//Variable
@import "variables/_reset";
@import "variables/_variable";

* {
  box-sizing: border-box;
}

body {
  background-color: $base_color;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  font-size: $large_size;
  font-family: $one_family, $two_color;
  color: $primary_color;
}

//Topbar#
#topbar {
  width: 100%;
  background-color: $base_color;
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.35);

  //topbar
  .topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;

    //&_left
    &_left {
      li {
        display: inline-block;
        margin-right: 10px;
        &:last-child {
          margin-right: 0;
        }
        a {
          color: $primary_color;
          font-size: $regular_size;
        }
      }
    }

    //&_right
    &_right {
      display: flex;
      align-items: center;
      //&_item
      &_item {
        display: flex;
        align-items: center;
        margin-right: 45px;
        &:last-child {
          margin-right: 0;
        }
        .icon {
          font-size: $regular_size;
          color: $three_color;
        }
        .text {
          padding-left: 7px;
          font-size: $regular_size;
          color: $three_color;
          a {
            font-family: $two_family;
            font-size: $regular_size;
            color: $three_color;
          }
        }
      }
    }
  }

  //Notebook
  @include notebook {
    display: none;
  }
}

//Header#
#header {
  width: 100%;

  //header
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 150px;
    position: relative;

    //&_logo
    &_logo {
      position: relative;
      z-index: 3;
      img {
        cursor: pointer;
      }
    }

    //&_menu
    &_menu {
      > li {
        display: inline-block;
        position: relative;
        margin-right: 25px;
        &:last-child {
          margin-right: 0;
        }
        > a {
          font-family: $two_family;
          color: $primary_color;
          @include weight(regular) font-size: $large_size;
          text-transform: uppercase;
          position: relative;
          &::before {
            position: absolute;
            width: 0;
            margin: -4px 0;
            transition: 0.4ms all ease-in-out;
            content: "";
            background-color: $two_color;
            height: 4px;
            border-radius: 2px;
            left: 0;
            bottom: 0;
          }
          &:hover {
            color: $two_color;
            &::before {
              width: 100%;
            }
          }
          &:not(:only-child):after {
            padding-left: 0;
            content: "▾";
          }
        }
        //dropdown
        .dropdown {
          width: 200px;
          position: absolute;
          top: 25px;
          left: 0;
          z-index: 2;
          padding: 15px 0 15px 10px;
          background-color: $three_color;
          opacity: 0;
          visibility: hidden;
          transition: 0.4ms all ease-in-out;
          li {
            display: block;
            padding-bottom: 15px;
            &:last-child {
              padding-bottom: 0;
            }
            a {
              font-family: $two_family;
              color: $base_color;
              @include weight(regular);
              font-size: $regular_size;
              text-transform: uppercase;
              position: relative;
              &::before {
                position: absolute;
                width: 0;
                margin: -3px 0;
                transition: 0.4ms all ease-in-out;
                content: "";
                background-color: $two_color;
                height: 3px;
                border-radius: 2px;
                left: 0;
                bottom: 0;
              }
              &:hover {
                color: $two_color;
                &::before {
                  width: 100%;
                }
              }
            }
          }
          .active {
            position: relative;
            &::before {
              position: absolute;
              width: 0;
              margin: -5px 0;
              transition: 0.4ms all ease-in-out;
              content: "";
              background-color: $two_color;
              height: 4px;
              border-radius: 2px;
              left: 0;
              bottom: 0;
            }
          }
          .active,
          a.active {
            &::before {
              width: 100%;
            }
          }
        }
        &:hover {
          .dropdown {
            opacity: 1;
            visibility: visible;
          }
        }
        .active {
          position: relative;
          &::before {
            position: absolute;
            width: 0;
            margin: -5px 0;
            transition: 0.4ms all ease-in-out;
            content: "";
            background-color: $two_color;
            height: 4px;
            border-radius: 2px;
            left: 0;
            bottom: 0;
          }
        }
        .active,
        a.active {
          &::before {
            width: 100%;
          }
        }
      }
    }

    //&_hamburger
    &_hamburger {
      display: none;
      position: absolute;
      top: 65px;
      right: 15px;
      transition: 0.5s all ease-in-out;
      cursor: pointer;
      z-index: 999;
      .icon {
        font-size: 30px;
        color: $two_color;
      }
    }

    //Notebook
    @include notebook {
      //&_menu
      &_menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: $base_color;
        z-index: 2;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        transform: scale(0);
        opacity: 0;
        transition: opacity 650ms;
        li {
          display: block;
          margin-right: 0;
          padding-bottom: 30px;
          &:last-child {
            padding-bottom: 0;
          }
          a {
            font-size: $large_size;
            font-weight: bold;
            color: $primary_color;
            &::before {
              background-color: $two_color;
            }
          }
          //dropdown
          .dropdown {
            width: 100%;
            top: 30px;
            padding: 15px 0;
            li {
              padding-bottom: 12px;
              &:last-child {
                padding-bottom: 0;
              }
              a {
                font-size: 12px;
                line-height: normal;
              }
            }
          }
        }
      }
      //dropdown
      .dropdown.open {
        opacity: 1;
      }
      &_menu.open {
        opacity: 1;
        transform: scale(1);
      }

      //&_hamburger
      &_hamburger {
        display: block;
        .times {
          display: none;
        }
      }
      &_hamburger.open {
        .bars {
          display: none;
        }
        .times {
          display: block;
        }
      }
    }
  }
}
#header.scroll {
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.35);
  position: fixed;
  transition: 0.3s all ease-in-out;
  top: 0;
  z-index: 2;
  background-color: $four_color;

  //header
  .header {
    height: 120px;

    //&_logo
    &_logo {
      img {
        width: 220px;
        height: auto;
        transition: 0.4s all ease-in-out;
      }
    }
    //&_hamburger
    &_hamburger {
      top: 50px;
    }
  }
}

//Home_Slider#
#home_slider {
  width: 100%;

  //home_slider
  .home_slider {
    position: relative;

    //&_item
    &_item {
      position: relative;
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(53, 53, 53, 0.7);
      }
      //slider_caption
      .slider_caption {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: $base_color;
        h6 {
          font-family: $one_family;
          @include weight(bold);
          line-height: normal;
          text-transform: uppercase;
          font-size: 50px;
        }
        p {
          padding-top: 20px;
          max-width: 570px;
          margin: 0 auto;
          font-family: $two_family;
          @include weight(regular);
          line-height: 21px;
          font-size: $regular_size;
        }
        button {
          margin-top: 35px;
          padding: 15px 40px;
          border: 1px solid $base_color;
          background-color: transparent;
          transition: 0.3s all ease-in-out;
          a {
            font-family: $one_family;
            text-transform: uppercase;
            font-size: $regular_size;
            color: $base_color;
          }
          &:hover {
            background-color: $base_color;
            cursor: pointer;
            a {
              color: $two_color;
            }
          }
        }
      }
      //Notebook
      @include notebook {
        img {
          height: 100vh;
          object-fit: cover;
        }
        //slider_caption
        .slider_caption {
          h6 {
            font-size: 40px;
          }
          p {
            padding-top: 17px;
          }
        }
      }
      //Tablet
      @include tablet {
        //slider_caption
        .slider_caption {
          h6 {
            font-size: 30px;
          }
        }
      }
      //X-Tablet
      @include x-tablet {
        //slider_caption
        .slider_caption {
          h6 {
            font-size: 25px;
          }
        }
      }
      //Mobil
      @include mobil {
        //slider_caption
        .slider_caption {
          h6 {
            font-size: 22px;
          }
          p {
            padding-top: 15px;
            font-size: $small_size;
            line-height: 17px;
          }
          button {
            padding: 10px 25px;
            a {
              font-size: $small_size;
            }
          }
        }
      }
    }

    //owl-nav
    .owl-nav {
      //owl-prev,pwl-next
      .owl-prev,
      .owl-next {
        width: 70px;
        height: 70px;
        line-height: 70px;
        border: 1px solid $base_color;
        background-color: transparent;
        color: $base_color;
        font-size: 50px;
      }
      .owl-prev {
        position: absolute;
        top: 50%;
        left: 30px;
        span {
          display: none;
        }
        &::before {
          content: "";
          position: absolute;
          top: 50%;
          left: 50%;
          z-index: 10;
          transform: translate(-50%, -50%);
          width: 17px;
          height: 28px;
          background-image: url("/arrow-left.png");
        }
      }
      .owl-next {
        position: absolute;
        top: 50%;
        right: 30px;
        span {
          display: none;
        }
        &::before {
          content: "";
          position: absolute;
          bottom: 50%;
          right: 50%;
          transform: rotate(3600deg);
          transform: translate(50%, 50%);
          width: 17px;
          height: 28px;
          background-image: url("/arrow-right.png");
        }
      }
      //Tablet
      @include tablet {
        .owl-prev,
        .owl-next {
          width: 50px;
          height: 50px;
          line-height: 50px;
        }
        .owl-prev {
          left: 5px;
        }
        .owl-right {
          right: 5px;
        }
      }
    }
  }
}

//Home_Services#
#home_services {
  width: 100%;
  background-color: $five_color;
  padding: 80px 0 20px 0;

  //home_services
  .home_services {
    //&_item
    &_item {
      text-align: center;
      margin-bottom: 50px;
      .icon {
        font-size: 50px;
        color: $primary_color;
      }
      h6 {
        padding-top: 15px;
        color: $two_color;
        font-family: $one_family;
        @include weight(regular);
        font-size: 24px;
        text-transform: uppercase;
        line-height: normal;
      }
      p {
        padding-top: 15px;
        font-family: $two_family;
        @include weight(regular);
        color: $three_color;
        font-size: $regular_size;
        line-height: 24px;
      }

      //Notebook
      @include notebook {
        h6 {
          font-size: 22px;
        }
      }
      //Tablet
      @include tablet {
        h6 {
          padding-top: 10px;
          font-size: 20px;
        }
        p {
          line-height: 22px;
        }
      }
      //Mobil
      @include mobil {
        h6 {
          font-size: 18px;
        }
        p {
          font-size: $small_size;
          line-height: 18px;
        }
      }
      //Small
      @include small {
        h6 {
          font-size: $large_size;
        }
        p {
          padding-top: 12px;
        }
      }
    }
  }
}

//Home_Projects#
#home_projects {
  width: 100%;
  padding: 80px 0;

  //title
  .title {
    color: $two_color;
    text-transform: uppercase;
    font-family: $one_family;
    @include weight(medium);
    font-size: 35px;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      bottom: -18px;
      left: 0;
      width: 70px;
      height: 2px;
      background-color: $two_color;
    }
    //Notebook
    @include notebook {
      text-align: center;
      font-size: 30px;
      &::before {
        right: 0;
        margin: 0 auto;
      }
    }
    //Tablet
    @include tablet {
      font-size: 25px;
      &::before {
        bottom: -13px;
      }
    }
    //X-Tablet
    @include x-tablet {
      font-size: 22px;
    }
    //Mobil
    @include mobil {
      font-size: 18px;
      &::before {
        bottom: -10px;
      }
    }
  }

  //home_projects
  .home_projects {
    padding-top: 60px;
    position: relative;
    //&_item
    &_item {
      position: relative;
      //caption
      .caption {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(22, 157, 216, 0.8);
        display: flex;
        justify-content: center;
        align-items: center;
        color: $base_color;
        font-size: 35px;
        transition: 0.3s all ease-in-out;
        opacity: 0;
        visibility: hidden;
      }
      &:hover {
        .caption {
          opacity: 1;
          visibility: visible;
        }
      }
    }
    //owl-nav
    .owl-nav {
      position: absolute;
      bottom: -38px;
      right: 0;
      .owl-prev,
      .owl-next {
        width: 22px;
        height: 22px;
        background-color: $two_color;
        text-align: center;
        color: $base_color;
      }
      .owl-prev {
        position: relative;
        span {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
      .owl-next {
        margin-left: 10px;
        position: relative;
        span {
          position: absolute;
          bottom: 50%;
          right: 50%;
          transform: translate(50%, 50%);
        }
      }
    }
  }
}

//Home_Counters#
#home_counters {
  width: 100%;
  padding: 60px 0;
  background-image: linear-gradient(
      to bottom,
      rgba(34, 167, 240, 0.8),
      rgba(34, 167, 240, 0.8)
    ),
    url("/1920x235.png");
  background-position: center;
  background-size: cover;

  //home_counters
  .home_counters {
    text-align: center;
    //&_item
    &_item {
      color: $base_color;
      .counter {
        font-family: $one_family;
        @include weight(bold);
        font-size: 50px;
        position: relative;
        &::before {
          content: "";
          position: absolute;
          bottom: -15px;
          left: 0;
          right: 0;
          width: 40px;
          height: 2px;
          margin: 0 auto;
          background-color: $base_color;
        }
      }
      .counter_heading {
        padding-top: 40px;
        font-family: $one_family;
        @include weight(regular);
        font-size: 26px;
        text-transform: uppercase;
      }

      //Large
      @include large {
        margin-bottom: 30px;
        &:last-child {
          margin-bottom: 0;
        }
      }
      //Tablet
      @include tablet {
        .counter {
          font-size: 40px;
        }
        .counter_heading {
          font-size: 24px;
        }
      }
      //X-Tablet
      @include x-tablet {
        .counter {
          font-size: 35px;
        }
        .counter_heading {
          font-size: 22px;
        }
      }
      //Mobil
      @include mobil {
        .counter {
          font-size: 30px;
          &::before {
            bottom: -12px;
          }
        }
        .counter_heading {
          padding-top: 30px;
          font-size: $large_size;
        }
      }
    }
  }
}

//Home_Blog#
#home_blog {
  width: 100%;
  padding: 80px 0;

  //title
  .title {
    color: $two_color;
    text-transform: uppercase;
    font-family: $one_family;
    @include weight(medium);
    font-size: 35px;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      bottom: -18px;
      left: 0;
      width: 70px;
      height: 2px;
      background-color: $two_color;
    }
    //Notebook
    @include notebook {
      text-align: center;
      font-size: 30px;
      &::before {
        right: 0;
        margin: 0 auto;
      }
    }
    //Tablet
    @include tablet {
      font-size: 25px;
      &::before {
        bottom: -13px;
      }
    }
    //X-Tablet
    @include x-tablet {
      font-size: 22px;
    }
    //Mobil
    @include mobil {
      font-size: 18px;
      &::before {
        bottom: -10px;
      }
    }
  }

  //home_blog
  .home_blog {
    padding-top: 60px;
    position: relative;
    //&_item
    &_item {
      display: flex;
      flex-wrap: wrap;
      .blog_image {
        width: 40%;
        img {
          width: 100%;
          height: 100%;
          object-fit: fill;
        }
      }
      .blog_desc {
        width: 60%;
        background-color: $five_color;
        padding: 30px 20px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: flex-start;
        .date {
          font-family: $two_family;
          font-style: italic;
          color: $three_color;
          line-height: normal;
          font-size: $regular_size;
        }
        p {
          padding-top: 10px;
          font-family: $two_family;
          color: $three_color;
          @include weight(regular);
          line-height: 20px;
          font-size: $regular_size;
          display: -webkit-box;
          -webkit-line-clamp: 3; /*Kaç Stırda sınırlamak istiyorsanız */
          -webkit-box-orient: vertical;
          overflow: hidden;
        }
        .read_more {
          margin-top: 30px;
          font-family: $two_family;
          color: $two_color;
          font-size: $regular_size;
          text-transform: uppercase;
          @include weight(bold);
          display: flex;
          align-self: flex-end;
        }
      }
      //Notebook
      @include notebook {
        //blog_image
        .blog_image {
          width: 100%;
        }
        //blog_desc
        .blog_desc {
          width: 100%;
        }
      }
      //Mobil
      @include mobil {
        //blog_desc
        .blog_desc {
          padding: 20px 15px;
          .date {
            font-size: $small-size;
          }
          p {
            font-size: $small-size;
            line-height: 16px;
          }
          .read_more {
            margin-top: 20px;
            font-size: $small-size;
          }
        }
      }
    }
    //owl-nav
    .owl-nav {
      position: absolute;
      bottom: -38px;
      right: 0;
      .owl-prev,
      .owl-next {
        width: 22px;
        height: 22px;
        background-color: $two_color;
        text-align: center;
        color: $base_color;
      }
      .owl-prev {
        position: relative;
        span {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
      .owl-next {
        margin-left: 10px;
        position: relative;
        span {
          position: absolute;
          bottom: 50%;
          right: 50%;
          transform: translate(50%, 50%);
        }
      }
    }
  }
}

//İnfo#
#info {
  width: 100%;
  background-color: $two_color;
  padding: 35px 0;

  //info
  .info {
    display: flex;
    justify-content: space-between;
    align-items: center;

    //&_text
    &_text {
      h6 {
        font-family: $one_family;
        @include weight(regular);
        color: $base_color;
        text-transform: uppercase;
        font-size: 24px;
        line-height: normal;
      }
    }

    //&_btn
    &_btn {
      button {
        background-color: transparent;
        border: 2px solid $base_color;
        padding: 18px 40px;
        transition: 0.3s all ease-in-out;
        a {
          font-family: $one_family;
          @include weight(regular);
          font-size: $regular_size;
          color: $base_color;
        }
        &:hover {
          background-color: $base_color;
          cursor: pointer;
          a {
            color: $two_color;
          }
        }
      }
    }

    //Notebook
    @include notebook {
      display: flex;
      flex-direction: column;
      text-align: center;
      //&_btn
      &_btn {
        margin-top: 25px;
      }
    }
    //X-Tablet
    @include x-tablet {
      //&_text
      &_text {
        h6 {
          font-size: 22px;
        }
      }
    }
    //Mobil
    @include mobil {
      //&_text
      &_text {
        h6 {
          font-size: 18px;
        }
      }
      //&_btn
      &_btn {
        button {
          padding: 15px 30px;
          a {
            font-size: $small_size;
          }
        }
      }
    }
  }
}

//Footer#
#footer {
  width: 100%;
  padding: 50px 0;
  background-color: $six_color;

  //footer
  .footer {
    //&_item
    &_item {
      h6 {
        font-family: $one_family;
        @include weight(bold);
        line-height: normal;
        text-transform: uppercase;
        color: $two_color;
        font-size: 20px;
        margin-bottom: 30px;
      }
      p {
        font-family: $two_family;
        @include weight(regular);
        line-height: 21px;
        font-size: $regular_size;
        color: $base_color;
      }
      ul {
        li {
          display: block;
          padding: 0 0 13px 20px;
          &:last-child {
            padding: 0 0 0 20px;
          }
          a {
            font-family: $two_family;
            text-transform: capitalize;
            font-size: $regular_size;
            color: $base_color;
            position: relative;
            &::before {
              content: "";
              position: absolute;
              top: -1px;
              left: -25px;
              width: 20px;
              height: 20px;
              background-image: url("/arrow.png");
            }
          }
        }
      }
      //desc
      .desc {
        padding-top: 20px;
        //&_item
        &_item {
          display: flex;
          align-items: center;
          padding-bottom: 8px;
          &:last-child {
            padding-bottom: 0;
          }
          .icon {
            color: $two_color;
            font-size: $regular_size;
          }
          .text {
            padding-left: 10px;
            p,
            a {
              font-family: $two_family;
              font-size: $regular_size;
              @include weight(regular);
              color: $base_color;
            }
          }
        }
      }
    }
    //Large
    @include large {
      //&_item
      &_item {
        margin-bottom: 40px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
    //Tablet
    @include tablet {
      //&_item
      &_item {
        h6 {
          font-size: 18px;
          margin-bottom: 25px;
        }
      }
    }
    //X-Tablet
    @include x-tablet {
      //&_item
      &_item {
        text-align: center;
        h6 {
          font-size: $large_size;
        }
        //desc
        .desc {
          &_item {
            justify-content: center;
          }
        }
      }
    }
    //Mobil
    @include mobil {
      //&_item
      &_item {
        h6 {
          font-size: $regular_size;
        }
        p {
          font-size: $small_size;
          line-height: 17px;
        }
        ul {
          li {
            padding: 0 0 10px 18px;
            &:last-child {
              padding: 0 0 0 18px;
            }
            a {
              font-size: $small_size;
              &::before {
                top: -2px;
              }
            }
          }
        }
        //desc
        .desc {
          &_item {
            display: flex;
            flex-direction: column;
            padding-bottom: 17px;
            &:last-child {
              padding-bottom: 0;
            }
            .icon {
              font-size: $large_size;
            }
            .text {
              padding: 5px 0 0 0;
              p,
              a {
                font-size: $small_size;
              }
            }
          }
        }
      }
    }
  }
}

//Copyright#
#copyright {
  width: 100%;
  background-color: $seven_color;
  padding: 25px 0;

  //text
  .text {
    text-align: center;
    font-family: $two_family;
    @include weight(regular);
    font-size: $regular_size;
    color: $base_color;
    line-height: normal;
    .icon {
      color: #ff0000;
    }
  }

  //Mobil
  @include mobil {
    .text {
      font-size: $small_size;
      line-height: 17px;
    }
  }
}

///// About /////

//Page#
#page {
  width: 100%;
  background-color: $two_color;

  //page
  .page {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;

    //&_heading
    &_heading {
      font-family: $one_family;
      @include weight(400);
      text-transform: uppercase;
      line-height: normal;
      font-size: 24px;
      color: $base_color;
    }
    //&_links
    &_links {
      li {
        display: inline-block;
        a {
          font-family: $two_family;
          @include weight(400);
          font-size: $regular_size;
          text-transform: capitalize;
          line-height: normal;
          color: $base_color;
          position: relative;
          &::before {
            content: ">";
            font-weight: 900;
            font-size: $small_size;
            display: inline-block;
            padding: 0 5px;
          }
        }
        &:first-child a::before {
          content: none;
        }
      }
    }

    //X-Tablet
    @include x-tablet {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      height: 80px;
      //&_heading
      &_heading {
        font-size: 20px;
      }
      //&_links
      &_links {
        padding-top: 10px;
      }
    }
    //Mobil
    @include mobil {
      //&_heading
      &_heading {
        font-size: 18px;
      }
      //&_links
      &_links {
        li {
          a {
            font-size: $small_size;
          }
        }
      }
    }
  }
}

//About_İnfo#
#about_info {
  width: 100%;
  padding: 70px 0 70px 0;

  //about_info
  .about_info {
    //&_image
    &_image {
      img {
        width: 100%;
      }
    }
    //&_text
    &_text {
      h6 {
        font-family: $one_family;
        @include weight(400);
        font-size: 35px;
        text-transform: uppercase;
        color: $two_color;
        line-height: normal;
        padding-bottom: 25px;
      }
      p {
        font-family: $two_family;
        @include weight(400);
        color: $primary_color;
        line-height: 25px;
        font-size: $regular_size;
        padding-bottom: 20px;
        &:last-child {
          padding-bottom: 0;
        }
      }
      button {
        margin-top: 10px;
        padding: 10px 15px;
        background-color: $two_color;
        a {
          font-family: $one_family;
          @include weight(400);
          font-size: $regular_size;
          text-transform: uppercase;
          color: $base_color;
        }
      }
    }

    //&_Notebook
    @include notebook {
      text-align: center;
      //&_text
      &_text {
        margin-top: 30px;
        h6 {
          font-size: 30px;
        }
        button {
          width: 100%;
          padding: 10px 0;
        }
      }
    }
    //&_Tablet
    @include tablet {
      //&_text
      &_text {
        h6 {
          font-size: 25px;
          padding-bottom: 20px;
        }
      }
    }
    //&_X-Tabket
    @include x-tablet {
      //&_text
      &_text {
        h6 {
          font-size: 20px;
          padding-bottom: 15px;
        }
        p {
          line-height: 22px;
          padding-bottom: 15px;
        }
      }
    }
    //&_Mobil
    @include mobil {
      //&_text
      &_text {
        h6 {
          font-size: 18px;
          padding-bottom: 10px;
        }
        p {
          line-height: 16px;
          font-size: $small_size;
          padding-bottom: 10px;
        }
        button {
          padding: 8px 0;
          a {
            font-size: $small_size;
          }
        }
      }
    }
  }
}

//About_Facts#
#about_facts {
  width: 100%;
  background: linear-gradient(
      to bottom,
      rgba(50, 50, 50, 0.8),
      rgba(50, 50, 50, 0.8)
    ),
    url("/1920x420.png");
  padding: 70px 0 70px 0;
  background-position: center;
  background-size: cover;
  //Notebook
  @include notebook {
    padding: 70px 0 40px 0;
  }

  //about_facts
  .about_facts {
    text-align: center;
    //&_item
    &_item {
      .icon {
        width: 130px;
        height: 130px;
        line-height: 130px;
        margin: 0 auto;
        border-radius: 50%;
        border: 2px solid $two_color;
        color: $base_color;
        font-size: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.3s all ease-in-out;
        &:hover {
          transform: rotate(360deg);
        }
      }
      h6 {
        padding-top: 25px;
        line-height: normal;
        font-family: $one_family;
        font-size: 24px;
        color: $base_color;
        @include weight(400);
        text-transform: uppercase;
      }
      p {
        padding-top: 15px;
        font-family: $two_family;
        line-height: 23px;
        color: $base_color;
        @include weight(400);
        font-size: $regular_size;
      }

      //&_Notebook
      @include notebook {
        margin-bottom: 30px;
        h6 {
          font-size: 22px;
        }
      }
      //&_Tablet
      @include tablet {
        h6 {
          font-size: 20px;
        }
      }
      //&_X-Tablet
      @include x-tablet {
        h6 {
          font-size: 18px;
        }
      }
      //&_Mobil
      @include mobil {
        .icon {
          width: 100px;
          height: 100px;
          line-height: 100px;
          font-size: 30px;
        }
        h6 {
          padding-top: 20px;
          font-size: $large_size;
        }
        p {
          padding-top: 10px;
          font-size: $small_size;
          line-height: 18px;
        }
      }
    }
  }
}

//About_Choose#
#about_choose {
  width: 100%;
  padding: 70px 0;

  //about_choose
  .about_choose {
    //&_left
    &_left {
      h6 {
        font-family: $one_family;
        text-transform: uppercase;
        @include weight(400);
        font-size: 35px;
        line-height: normal;
        color: $two_color;
        padding-bottom: 35px;
        //Notebook
        @include notebook {
          font-size: 30px;
          padding-bottom: 30px;
        }
        //Tablet
        @include tablet {
          font-size: 25px;
          padding-bottom: 25px;
        }
        //X-Tablet
        @include x-tablet {
          font-size: 20px;
          padding-bottom: 20px;
        }
        //Mobil
        @include mobil {
          font-size: 18px;
        }
      }
      //accordion
      .accordion {
        //&_item
        &_item {
          div {
            margin-bottom: 20px;
          }
          &_accordion_title {
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 60px;
            padding: 0 10px;
            font-family: $two_family;
            color: $three_color;
            font-size: $large_size;
            @include weight(400);
            text-transform: capitalize;
            border: 1px solid #ddd;
            cursor: pointer;
            &.active {
              margin-bottom: 0;
              background-color: $three_color;
              color: $base_color;
            }
          }
          &_accordion_arrow {
            font-size: $large_size;
            color: $two_color;
            display: flex;
            align-items: center;
            justify-content: center;
            &.active {
              color: $base_color;
            }
          }
          &_accordion_content {
            margin-top: 10px;
            max-height: 0;
            overflow: hidden;
            font-family: $two_family;
            color: $three_color;
            font-size: $regular_size;
            line-height: normal;
            transition: max-height 0.3s ease-out;
            border: 1px solid #ebebeb;

            &.active {
              max-height: 500px;
              padding: 20px 15px;
              transition: max-height 0.5s ease-in;
            }
          }
        }
        //X-Tablet
        @include x-tablet {
          //&_item
          &_item {
            &_accordion_title {
              font-size: $regular_size;
            }
            &_accordion_arrow {
              font-size: $regular_size;
              line-height: 15px;
            }
          }
        }
        //Mobil
        @include mobil {
          //&_item
          &_item {
            &_accordion_content {
              font-size: $small_size;
            }
          }
        }
      }
    }
    //&_right
    &_right {
      //Notebook
      @include notebook {
        margin-top: 30px;
      }
      h6 {
        font-family: $one_family;
        text-transform: uppercase;
        @include weight(400);
        font-size: 35px;
        line-height: normal;
        color: $two_color;
        padding-bottom: 35px;
        //Notebook
        @include notebook {
          font-size: 30px;
          padding-bottom: 30px;
        }
        //Tablet
        @include tablet {
          font-size: 25px;
          padding-bottom: 25px;
        }
        //X-Tablet
        @include x-tablet {
          font-size: 20px;
          padding-bottom: 20px;
        }
        //Mobil
        @include mobil {
          font-size: 18px;
        }
      }
      p {
        font-family: $two_family;
        @include weight(400);
        color: $three_color;
        font-size: $regular_size;
        line-height: 22px;
        margin-bottom: 25px;
        &:last-child {
          margin-bottom: 0;
        }
      }
      //Mobil
      @include mobil {
        p {
          font-size: $small_size;
          line-height: 17px;
          margin-bottom: 15px;
        }
      }
    }
  }
}

//About_Clients#
#about_clients {
  width: 100%;
  background: linear-gradient(
      to bottom,
      rgba(50, 50, 50, 0.8),
      rgba(50, 50, 50, 0.8)
    ),
    url("/1920x420.png");
  padding: 70px 0 105px 0;
  background-position: center;
  background-size: cover;

  //title
  .title {
    text-align: center;
    color: $base_color;
    @include weight(400);
    font-size: 35px;
    line-height: normal;
    text-transform: uppercase;

    //&_Notebook
    @include notebook {
      font-size: 30px;
    }
    //&_Tablet
    @include tablet {
      font-size: 25px;
    }
    //&_X-Tablet
    @include x-tablet {
      font-size: 25px;
    }
    //&_Mobil
    @include mobil {
      font-size: 20px;
    }
  }

  //abouıt_clients
  .about_clients {
    padding-top: 40px;
    position: relative;
    //&_item
    &_item {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      //clients_image
      .clients_image {
        padding-right: 60px;
        width: 30%;
        img {
          width: 100%;
          border-radius: 50%;
        }
      }
      //clients_text
      .clients_text {
        padding-left: 40px;
        width: 70%;
        border-left: 1px solid $base_color;
        font-family: $two_family;
        @include weight(400);
        font-size: $regular_size;
        color: $base_color;
        p {
          line-height: 22px;
          letter-spacing: 0.3px;
        }
        h4 {
          padding-top: 25px;
          text-transform: capitalize;
          line-height: normal;
        }
        h5 {
          padding-top: 5px;
          line-height: none;
          text-transform: uppercase;
        }
      }

      //Tablet
      @include tablet {
        text-align: center;
        .clients_image {
          padding-right: 0;
          padding-bottom: 25px;
          width: 100%;
          img {
            width: 140px;
            height: 140px;
            margin: 0 auto;
          }
        }
        .clients_text {
          width: 100%;
          padding-left: 0;
          padding-top: 25px;
          border-left: none;
          border-top: 1px solid $base_color;
        }
      }
      //Mobil
      @include mobil {
        //clients_text
        .clients_text {
          font-size: $small_size;
          h4 {
            padding-top: 20px;
          }
          p {
            line-height: 17px;
          }
        }
      }
    }
    //owl-dots
    .owl-dots {
      position: absolute;
      bottom: -5%;
      right: 50%;
      transform: translate(50%, 50%);
      .owl-dot {
        width: 10px;
        height: 10px;
        background-color: $base_color;
        border-radius: 50%;
        transition: 0.3s all ease-in-out;
        margin-right: 5px;
        &:last-child {
          margin-right: 0;
        }
      }
      .active {
        background-color: $two_color;
      }
    }
  }
}

//About_Team
#about_team {
  width: 100%;
  padding: 70px 0 70px 0;
  //Large
  @include large {
    padding: 70px 0 40px 0;
  }

  //title
  .title {
    font-family: $one_family;
    text-transform: uppercase;
    @include weight(400);
    font-size: 35px;
    color: $two_color;
    line-height: normal;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      bottom: -15px;
      left: 0;
      width: 70px;
      height: 2px;
      background-color: $two_color;
    }

    //&_Notebook
    @include notebook {
      font-size: 30px;
    }
    //&_Tablet
    @include tablet {
      font-size: 25px;
    }
    //&_X-Tablet
    @include x-tablet {
      font-size: 25px;
      &::before {
        bottom: -10px;
      }
    }
    //&_Mobil
    @include mobil {
      font-size: 20px;
    }
  }

  //about_team
  .about_team {
    padding-top: 60px;

    //&_item
    &_item {
      text-align: center;
      img {
        width: 100%;
      }
      h5 {
        padding-top: 20px;
        font-family: $two_family;
        text-transform: capitalize;
        color: $primary_color;
        font-size: 24px;
        line-height: normal;
      }
      h6 {
        padding-top: 7px;
        font-family: $two_family;
        text-transform: capitalize;
        color: $primary_color;
        font-size: $small_size;
        line-height: normal;
      }

      //&_Large
      @include large {
        margin-bottom: 30px;
      }
      //&_Notebook
      @include notebook {
        h5 {
          font-size: 22px;
        }
      }
      //&_Tablet
      @include tablet {
        h5 {
          padding-top: 15px;
          font-size: 20px;
        }
      }
      //&_X-Tablet
      @include x-tablet {
        h5 {
          font-size: 18px;
        }
      }
      //&_Mobil
      @include mobil {
        h5 {
          font-size: $large_size;
        }
      }
    }
  }
}

///// Services /////

//Services#
#services {
  width: 100%;
  padding: 80px 0 50px 0;

  //services
  .services {
    text-align: center;
    //&_item
    &_item {
      margin-bottom: 30px;
      &:last-child {
        margin-bottom: 0;
      }
      img {
        width: 100%;
      }
      h6 {
        padding-top: 20px;
        line-height: normal;
        a {
          font-family: $one_family;
          @include weight(bold);
          color: $two_color;
          text-transform: uppercase;
          font-size: 20px;
        }
      }
      p {
        padding-top: 15px;
        font-family: $two_family;
        @include weight(regular);
        font-size: $regular_size;
        line-height: 19px;
      }
      .read_more {
        display: inline-block;
        margin-top: 20px;
        background-color: $two_color;
        width: 100%;
        padding: 10px 0;
        color: $base_color;
        font-family: $one_family;
        @include weight(bold);
        font-size: $regular_size;
        text-transform: uppercase;
      }

      //Notebook
      @include notebook {
        h6 {
          a {
            font-size: 18px;
          }
        }
      }
      //Tablet
      @include tablet {
        h6 {
          a {
            font-size: $large_size;
          }
        }
        p {
          padding-top: 12px;
        }
        .read_more {
          padding: 8px 0;
        }
      }
      //Mobil
      @include mobil {
        h6 {
          padding-top: 18px;
          a {
            font-size: $regular_size;
          }
        }
        p {
          padding-top: 10px;
          font-size: $small-size;
          line-height: 16px;
        }
        .read_more {
          margin-top: 18px;
          font-size: $small-size;
        }
      }
    }
  }
}

//Services_Details#
#services_details {
  width: 100%;
  padding: 80px 0 50px 0;

  //services_details
  .services_details {
    //&_image
    &_image {
      img {
        width: 100%;
      }
    }
    //&_text
    &_text {
      h6 {
        font-family: $one_family;
        color: $two_color;
        text-transform: uppercase;
        font-size: 25px;
        @include weight(bold);
      }
      p {
        padding-top: 20px;
        font-family: $two_family;
        font-size: $regular_size;
        line-height: 21px;
        color: $three_color;
      }
    }
    //Notebook
    @include notebook {
      //&_text
      &_text {
        h6 {
          font-size: 22px;
        }
      }
    }
    //Tablet
    @include tablet {
      text-align: center;
      //&_text
      &_text {
        margin-top: 30px;
        h6 {
          font-size: 19px;
        }
        p {
          padding-top: 15px;
        }
      }
    }
    //X-Tablet
    @include x-tablet {
      //&_text
      &_text {
        h6 {
          font-size: $large_size;
        }
      }
    }
    //,Mobil
    @include mobil {
      //&_text
      &_text {
        h6 {
          font-size: $regular_size;
        }
        p {
          font-size: $small-size;
          line-height: 16px;
        }
      }
    }
  }
}

///// Blog /////

//Blog#
#blog {
  width: 100%;
  padding: 80px 0 80px 0;

  //blog
  .blog {
    //&_item
    &_item {
    }
  }
}

///// Faqs /////

//Faqs#
#faqs {
  width: 100%;
  padding: 70px 0 70px 0;

  //faqs
  .faqs {
    //&_item
    &_item {
      margin-bottom: 20px;
      &:last-child {
        margin-bottom: 0;
      }

      &_header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 10px;
        background-color: $two_color;
        font-family: $one_family;
        @include weight(900);
        color: $base_color;
        cursor: pointer;
        &_title {
          font-size: $large_size;
          line-height: normal;
          text-transform: uppercase;
        }
        &_icon {
          font-size: 24px;
        }
      }
      &_content {
        padding: 10px 20px;
        background-color: $four_color;
        font-family: $two_family;
        @include weight(400);
        font-size: $regular_size;
        line-height: normal;
      }

      //Tablet
      @include tablet {
        //&_header
        &_header {
          &_title {
            font-size: $regular_size;
          }
          &_icon {
            font-size: 20px;
          }
        }
      }
      //Mobil
      @include mobil {
        //&_header
        &_header {
          padding: 8px;
          &_title {
            font-size: $small-size;
          }
          &_icon {
            font-size: $large_size;
          }
        }
        &_content {
          font-size: $small-size;
          line-height: 15px;
        }
      }
    }
  }
}

///// Teams /////

//Teams#
#teams {
  width: 100%;
  padding: 70px 0 40px 0;

  //teams
  .teams {
    text-align: center;
    //&_item
    &_item {
      margin-bottom: 30px;
      img {
        width: 100%;
      }
      h5 {
        padding-top: 15px;
        font-family: $one_family;
        @include weight(bold);
        font-size: $large_size;
        text-transform: uppercase;
        color: $two_color;
        line-height: normal;
      }
      h6 {
        padding-top: 10px;
        font-family: $two_family;
        text-transform: capitalize;
        font-size: $regular_size;
        color: $three_color;
        line-height: normal;
      }
      //social
      .social {
        padding-top: 20px;
        li {
          display: inline-block;
          margin-right: 10px;
          &:last-child {
            margin-right: 0;
          }
          a {
            display: inline-block;
            width: 30px;
            height: 30px;
            text-align: center;
            background-color: $two_color;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: 0.3s all ease-in-out;
            .icon {
              color: $base_color;
              font-size: $regular_size;
            }
            &:hover {
              background-color: $three_color;
            }
          }
        }
      }

      //Mobil
      @include mobil {
        h5 {
          font-size: $regular_size;
        }
        h6 {
          font-size: $small_size;
        }
        .social {
          li {
            margin-right: 8px;
            a {
              width: 25px;
              height: 25px;
            }
          }
        }
      }
    }
  }
}

///// Contact /////

//Contact_Form#
#contact_form {
  width: 100%;
  padding: 70px 0;

  //title
  .title {
    font-family: $one_family;
    text-transform: uppercase;
    @include weight(400);
    font-size: 35px;
    color: $two_color;
    line-height: normal;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      bottom: -15px;
      left: 0;
      width: 70px;
      height: 2px;
      background-color: $two_color;
    }

    //&_Notebook
    @include notebook {
      text-align: center;
      font-size: 30px;
      &::before {
        margin: 0 auto;
        right: 0;
      }
    }
    //&_Tablet
    @include tablet {
      font-size: 25px;
    }
    //&_X-Tablet
    @include x-tablet {
      font-size: 25px;
      &::before {
        bottom: -10px;
      }
    }
    //&_Mobil
    @include mobil {
      font-size: 20px;
    }
  }

  //contact_form
  .contact_form {
    padding-top: 70px;
    display: flex;
    align-items: center;

    //&_left
    &_left {
      input {
        width: 100%;
        background-color: transparent;
        padding: 15px;
        font-size: $regular_size;
        border: 1px solid #d7d7d7;
        margin-bottom: 20px;
        &:last-child {
          margin-bottom: 0;
        }
        &::placeholder {
          font-family: $two_family;
          @include weight(light);
          color: #575757;
        }
      }
      textarea {
        width: 100%;
        background-color: transparent;
        padding: 15px;
        font-size: $regular_size;
        resize: none;
        border: 1px solid #d7d7d7;
        &::placeholder {
          font-family: $two_family;
          @include weight(light);
          color: #575757;
        }
      }
      button {
        margin-top: 25px;
        padding: 12px 30px;
        background-color: $two_color;
        font-family: $one_family;
        @include weight(bold);
        text-transform: uppercase;
        font-size: $regular_size;
        color: $base_color;
        cursor: pointer;
      }
    }
    //&_right
    &_right {
      //right_icon
      .right_icon {
        display: flex;
        flex-direction: column;
        //&_item
        &_item {
          display: flex;
          align-items: center;
          margin-bottom: 30px;
          &:last-child {
            margin-bottom: 0;
          }
          .icon {
            font-size: 40px;
            color: $two_color;
          }
          .text {
            padding-left: 15px;
            p {
              font-family: $one_family;
              color: $three_color;
              line-height: normal;
              font-size: $regular_size;
            }
            a {
              display: block;
              font-family: $one_family;
              line-height: normal;
              font-size: $regular_size;
              color: $three_color;
              padding-bottom: 2px;
              &:last-child {
                padding-bottom: 0;
              }
            }
          }
        }
      }
    }

    //Notebook
    @include notebook {
      text-align: center;
      padding-top: 65px;
      //&_right
      &_right {
        margin-top: 30px;
        .right_icon {
          text-align: center;
          align-items: center;
          justify-content: center;
        }
      }
    }
    //X-Tablet
    @include x-tablet {
      padding-top: 60px;
      //&_right
      &_right {
        .right_icon {
          &_item {
            display: flex;
            flex-direction: column;
            .text {
              padding: 8px 0 0 0;
            }
          }
        }
      }
    }
    //Mobil
    @include mobil {
      padding-top: 55px;
      //&_left
      &_left {
        input {
          font-size: $small_size;
        }
        button {
          font-size: $small_size;
        }
      }
      //&_right
      &_right {
        .right_icon {
          &_item {
            .icon {
              font-size: 35px;
            }
            .text {
              a,
              p {
                font-size: $small_size;
              }
              a {
                padding-bottom: 1px;
              }
            }
          }
        }
      }
    }
  }
}
