//Bu Sass Dosyası Emrah KAHRAMAN tarafından kodlanmıştır.

//Variable
@import "variables/_reset";
@import "variables/_variable";

* {
  box-sizing: border-box;
}

body {
  background-color: $base_color;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  font-size: $large_size;
  font-family: $one_family, $two_color;
  color: $primary_color;
}

//Topbar#
#topbar {
  width: 100%;
  background-color: $base_color;
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.35);

  //topbar
  .topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;

    //&_left
    &_left {
      li {
        display: inline-block;
        margin-right: 10px;
        &:last-child {
          margin-right: 0;
        }
        a {
          color: $primary_color;
          font-size: $regular_size;
        }
      }
    }

    //&_right
    &_right {
      display: flex;
      align-items: center;
      //&_item
      &_item {
        display: flex;
        align-items: center;
        margin-right: 45px;
        &:last-child {
          margin-right: 0;
        }
        .icon {
          font-size: $regular_size;
          color: $three_color;
        }
        .text {
          padding-left: 7px;
          font-size: $regular_size;
          color: $three_color;
          a {
            font-family: $two_family;
            font-size: $regular_size;
            color: $three_color;
          }
        }
      }
    }
  }

  //Notebook
  @include notebook {
    display: none;
  }
}

//Header#
#header {
  width: 100%;

  //header
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 150px;
    position: relative;

    //&_logo
    &_logo {
      position: relative;
      z-index: 3;
      img {
        cursor: pointer;
      }
    }

    //&_menu
    &_menu {
      > li {
        display: inline-block;
        position: relative;
        margin-right: 25px;
        &:last-child {
          margin-right: 0;
        }
        > a {
          font-family: $two_family;
          color: $primary_color;
          @include weight(regular) font-size: $large_size;
          text-transform: uppercase;
          position: relative;
          &::before {
            position: absolute;
            width: 0;
            margin: -4px 0;
            transition: 0.4ms all ease-in-out;
            content: "";
            background-color: $two_color;
            height: 4px;
            border-radius: 2px;
            left: 0;
            bottom: 0;
          }
          &:hover {
            color: $two_color;
            &::before {
              width: 100%;
            }
          }
          &:not(:only-child):after {
            padding-left: 0;
            content: "▾";
          }
        }
        //dropdown
        .dropdown {
          width: 200px;
          position: absolute;
          top: 25px;
          left: 0;
          z-index: 2;
          padding: 15px 0 15px 10px;
          background-color: $three_color;
          opacity: 0;
          visibility: hidden;
          transition: 0.4ms all ease-in-out;
          li {
            display: block;
            padding-bottom: 15px;
            &:last-child {
              padding-bottom: 0;
            }
            a {
              font-family: $two_family;
              color: $base_color;
              @include weight(regular);
              font-size: $regular_size;
              text-transform: uppercase;
              position: relative;
              &::before {
                position: absolute;
                width: 0;
                margin: -3px 0;
                transition: 0.4ms all ease-in-out;
                content: "";
                background-color: $two_color;
                height: 3px;
                border-radius: 2px;
                left: 0;
                bottom: 0;
              }
              &:hover {
                color: $two_color;
                &::before {
                  width: 100%;
                }
              }
            }
          }
          .active {
            position: relative;
            &::before {
              position: absolute;
              width: 0;
              margin: -5px 0;
              transition: 0.4ms all ease-in-out;
              content: "";
              background-color: $two_color;
              height: 4px;
              border-radius: 2px;
              left: 0;
              bottom: 0;
            }
          }
          .active,
          a.active {
            &::before {
              width: 100%;
            }
          }
        }
        &:hover {
          .dropdown {
            opacity: 1;
            visibility: visible;
          }
        }
        .active {
          position: relative;
          &::before {
            position: absolute;
            width: 0;
            margin: -5px 0;
            transition: 0.4ms all ease-in-out;
            content: "";
            background-color: $two_color;
            height: 4px;
            border-radius: 2px;
            left: 0;
            bottom: 0;
          }
        }
        .active,
        a.active {
          &::before {
            width: 100%;
          }
        }
      }
    }

    //&_hamburger
    &_hamburger {
      display: none;
      position: absolute;
      top: 65px;
      right: 15px;
      transition: 0.5s all ease-in-out;
      cursor: pointer;
      z-index: 999;
      .icon {
        font-size: 30px;
        color: $two_color;
      }
    }

    //Notebook
    @include notebook {
      //&_menu
      &_menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: $base_color;
        z-index: 2;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        transform: scale(0);
        opacity: 0;
        transition: opacity 650ms;
        li {
          display: block;
          margin-right: 0;
          padding-bottom: 30px;
          &:last-child {
            padding-bottom: 0;
          }
          a {
            font-size: $large_size;
            font-weight: bold;
            color: $primary_color;
            &::before {
              background-color: $two_color;
            }
          }
          //dropdown
          .dropdown {
            width: 100%;
            top: 30px;
            padding: 15px 0;
            li {
              padding-bottom: 12px;
              &:last-child {
                padding-bottom: 0;
              }
              a {
                font-size: 12px;
                line-height: normal;
              }
            }
          }
        }
      }
      //dropdown
      .dropdown.open {
        opacity: 1;
      }
      &_menu.open {
        opacity: 1;
        transform: scale(1);
      }

      //&_hamburger
      &_hamburger {
        display: block;
        .times {
          display: none;
        }
      }
      &_hamburger.open {
        .bars {
          display: none;
        }
        .times {
          display: block;
        }
      }
    }
  }
}
#header.scroll {
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.35);
  position: fixed;
  transition: 0.3s all ease-in-out;
  top: 0;
  z-index: 2;
  background-color: $four_color;

  //header
  .header {
    height: 120px;

    //&_logo
    &_logo {
      img {
        width: 220px;
        height: auto;
        transition: 0.4s all ease-in-out;
      }
    }
    //&_hamburger
    &_hamburger {
      top: 50px;
    }
  }
}

//Home_Services#
#home_services {
  width: 100%;
  background-color: $five_color;
  padding: 80px 0 20px 0;

  //home_services
  .home_services {
    //&_item
    &_item {
      text-align: center;
      margin-bottom: 50px;
      .icon {
        font-size: 50px;
        color: $primary_color;
      }
      h6 {
        padding-top: 15px;
        color: $two_color;
        font-family: $one_family;
        @include weight(regular);
        font-size: 24px;
        text-transform: uppercase;
        line-height: normal;
      }
      p {
        padding-top: 15px;
        font-family: $two_family;
        @include weight(regular);
        color: $three_color;
        font-size: $regular_size;
        line-height: 24px;
      }

      //Notebook
      @include notebook {
        h6 {
          font-size: 22px;
        }
      }
      //Tablet
      @include tablet {
        h6 {
          padding-top: 10px;
          font-size: 20px;
        }
        p {
          line-height: 22px;
        }
      }
      //Mobil
      @include mobil {
        h6 {
          font-size: 18px;
        }
        p {
          font-size: $small_size;
          line-height: 18px;
        }
      }
      //Small
      @include small {
        h6 {
          font-size: $large_size;
        }
        p {
          padding-top: 12px;
        }
      }
    }
  }
}

//Home_Counters#
#home_counters {
  width: 100%;
  padding: 60px 0;
  background-image: linear-gradient(
      to bottom,
      rgba(34, 167, 240, 0.8),
      rgba(34, 167, 240, 0.8)
    ),
    url("/1920x235.png");
  background-position: center;
  background-size: cover;

  //home_counters
  .home_counters {
    text-align: center;
    //&_item
    &_item {
      color: $base_color;
      .counter {
        font-family: $one_family;
        @include weight(bold);
        font-size: 50px;
        position: relative;
        &::before {
          content: "";
          position: absolute;
          bottom: -15px;
          left: 0;
          right: 0;
          width: 40px;
          height: 2px;
          margin: 0 auto;
          background-color: $base_color;
        }
      }
      .counter_heading {
        padding-top: 40px;
        font-family: $one_family;
        @include weight(regular);
        font-size: 26px;
        text-transform: uppercase;
      }

      //Large
      @include large {
        margin-bottom: 30px;
        &:last-child {
          margin-bottom: 0;
        }
      }
      //Tablet
      @include tablet {
        .counter {
          font-size: 40px;
        }
        .counter_heading {
          font-size: 24px;
        }
      }
      //X-Tablet
      @include x-tablet {
        .counter {
          font-size: 35px;
        }
        .counter_heading {
          font-size: 22px;
        }
      }
      //Mobil
      @include mobil {
        .counter {
          font-size: 30px;
          &::before {
            bottom: -12px;
          }
        }
        .counter_heading {
          padding-top: 30px;
          font-size: $large_size;
        }
      }
    }
  }
}

//İnfo#
#info {
  width: 100%;
  background-color: $two_color;
  padding: 35px 0;

  //info
  .info {
    display: flex;
    justify-content: space-between;
    align-items: center;

    //&_text
    &_text {
      h6 {
        font-family: $one_family;
        @include weight(regular);
        color: $base_color;
        text-transform: uppercase;
        font-size: 24px;
        line-height: normal;
      }
    }

    //&_btn
    &_btn {
      button {
        background-color: transparent;
        border: 2px solid $base_color;
        padding: 18px 40px;
        transition: 0.3s all ease-in-out;
        a {
          font-family: $one_family;
          @include weight(regular);
          font-size: $regular_size;
          color: $base_color;
        }
        &:hover {
          background-color: $base_color;
          cursor: pointer;
          a {
            color: $two_color;
          }
        }
      }
    }

    //Notebook
    @include notebook {
      display: flex;
      flex-direction: column;
      text-align: center;
      //&_btn
      &_btn {
        margin-top: 25px;
      }
    }
    //X-Tablet
    @include x-tablet {
      //&_text
      &_text {
        h6 {
          font-size: 22px;
        }
      }
    }
    //Mobil
    @include mobil {
      //&_text
      &_text {
        h6 {
          font-size: 18px;
        }
      }
      //&_btn
      &_btn {
        button {
          padding: 15px 30px;
          a {
            font-size: $small_size;
          }
        }
      }
    }
  }
}

//Footer#
#footer {
  width: 100%;
  padding: 50px 0;
  background-color: $six_color;

  //footer
  .footer {
    //&_item
    &_item {
      h6 {
        font-family: $one_family;
        @include weight(bold);
        line-height: normal;
        text-transform: uppercase;
        font-size: 20px;
        color: $two_color;
        margin-bottom: 30px;
      }
      p {
        font-family: $two_family;
        @include weight(regular);
        line-height: 21px;
        font-size: $regular_size;
        color: $base_color;
      }
      ul {
        li {
          display: block;
          padding-bottom: 10px;
          &:last-child {
            padding-bottom: 0;
          }
          a {
            font-family: $two_family;
            text-transform: capitalize;
            font-size: $regular_size;
            color: $base_color;
          }
        }
      }
    }
  }
}

//Copyright#
#copyright {
  width: 100%;
  background-color: $seven_color;
  padding: 25px 0;

  //text
  .text {
    text-align: center;
    font-family: $two_family;
    @include weight(regular);
    font-size: $regular_size;
    color: $base_color;
    line-height: normal;
    .icon {
      color: #ff0000;
    }
  }

  //Mobil
  @include mobil {
    .text {
      font-size: $small_size;
      line-height: 17px;
    }
  }
}
